
<div class="content" fxFlex fxLayout="column">
    <div fxLayout="row wrap">

        <div class="separator1M" fxFlex="100" fxLayout="column">
            <div class="centertext speech-bubble-extern">
                <h1 class="title speech-bubble">{{character.name}}</h1>
            </div>
        </div>

        <div class="separator1M" fxFlex="50" fxFlex.sm="100" fxLayout="column">
            <img mat-card-image src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.name}}">
        </div>
        <div class="separator1 content-detail" fxFlex="50" fxFlex.sm="100" fxLayout="column">
            <h2>DESCRIPTION</h2>
            <h3 *ngIf="character.description!=''; else noDescription">
                {{character.description}}
            </h3>
            <ng-template #noDescription>
                <h3>
                    No Description
                </h3>
            </ng-template>
            <div fxLayout="column">
                <h2>COMICS</h2>
                <div fxLayout="column" *ngIf="character.comics.available!=0; else noComics">
                    <div class="comics-detail" fxFlex="50" fxFlex.sm="100" *ngFor= "let comic of comics">
                        <a href="/detail-comic/{{comic.id}}">
                            <mat-card class="card-comic">
                                <img mat-card-image src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="{{comic.title}}">
                                <mat-card-title>
                                    <h4>{{comic.title}}</h4>
                                </mat-card-title>
                                <mat-card-content>
                                    <h5>
                                        ${{ comic.prices[0].price }}
                                    </h5>
                                    
                                    <ng-container *ngIf="comic.creators.items[0]; else noWriter">
                                        <h5>{{ artistFound(comic.creators.items, 'Writer') }}</h5>
                                    </ng-container>  
                                    <ng-template #noWriter>  
                                        <h5>Writer not specified</h5>
                                    </ng-template>
                                    
                                    <ng-container *ngIf="comic.creators.items[0]; else noPenciler">
                                        <h5>{{ artistFound(comic.creators.items, 'Penciller (cover)') }}</h5>
                                    </ng-container>  
                                    <ng-template #noPenciler>  
                                        <h5>Penciller (cover) not specified</h5>
                                    </ng-template>
                                    
                                </mat-card-content>
                            </mat-card>
                        </a>
                    </div>
                </div>
                <ng-template #noComics>
                    <h3>
                        No Comics
                    </h3>
                </ng-template>
            </div>
            <div fxLayout="column">
                <h2>SERIES</h2>
                <div fxLayout="column" *ngIf="character.series.available!=0; else noSeries">
                    <div class="comics-detail" fxFlex="50" fxFlex.sm="100" *ngFor= "let serie of series">
                        <mat-card>
                            <img mat-card-image src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}" alt="{{serie.name}}">
                            <mat-card-title>
                                <h4>{{serie.title}}</h4>
                            </mat-card-title>
                            <mat-card-content>
                                <ng-container *ngIf="serie.creators.items[0]; else noWriter">
                                    <h5>{{ artistFound(serie.creators.items, 'Writer') }}</h5>
                                </ng-container>  
                                <ng-template #noWriter>  
                                    <h5>Writer not specified</h5>
                                </ng-template>
                                
                                <h5>
                                    From: {{serie.startYear}} To: {{serie.endYear}}
                                </h5>
                        
                                <ng-container *ngIf="serie.type!=''; else noType">
                                    <h5>Type: {{serie.type}} </h5>
                                </ng-container>  
                                <ng-template #noType>  
                                    <h5>Type not specified</h5>
                                </ng-template>
                        
                                <ng-container *ngIf="serie.rating!=''; else noRating">
                                    <h5>Rating: {{serie.rating}} </h5>
                                </ng-container>  
                                <ng-template #noRating>  
                                    <h5>Rating not specified</h5>
                                </ng-template>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <ng-template #noSeries>
                    <h3>
                        No Series
                    </h3>
                </ng-template>
            </div>

        </div>

    </div>
</div>
