.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-image: url(../../assets/menu.jpg);
  background-position: 80% 30px;
  background-size: cover;
}
.bubble {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.menuList {
  padding: 0px 0 20px;
}

.menuCenter{
margin: 0 auto;
color: #3f51b5;
font-weight: 700;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.logopng {
  width: 249px;
}
