
<div class="content" fxFlex fxLayout="column">
    <div fxLayout="row wrap">

        <div class="separator1M" fxFlex="100" fxLayout="column">
            <div class="centertext speech-bubble-extern">
                <h1 class="title speech-bubble">{{creator.fullName}}</h1>
            </div>
        </div>

        <div class="separator1M" fxFlex="50" fxFlex.sm="100" fxLayout="column">
            <img mat-card-image src="{{creator.thumbnail.path}}.{{creator.thumbnail.extension}}" alt="{{creator.name}}">
        </div>
        <div class="separator1 content-detail" fxFlex="50" fxFlex.sm="100" fxLayout="column">
            
            <div fxLayout="column">
                <h3 *ngIf="creator.firstName">
                    <h2>FIRST NAME</h2>
                    {{creator.firstName}}
                </h3>
            </div>
            
            <div fxLayout="column">
                <h3 *ngIf="creator.middleName">
                    <h2>MIDDLE NAME</h2>
                    {{creator.middleName}}
                </h3>
            </div>

            <div fxLayout="column">
                <h3 *ngIf="creator.lastName">
                    <h2>LAST NAME</h2>
                    {{creator.lastName}}
                </h3>
            </div>

            <div fxLayout="column">
                <h3 *ngIf="creator.fullName">
                    <h2>FULL NAME</h2>
                    {{creator.fullName}}
                </h3>
            </div>
            
            <div fxLayout="column">
                <h2>COMICS</h2>
                <div fxLayout="column" *ngIf="creator.comics.available!=0; else noComics">
                    <div fxFlex="50" fxFlex.sm="100" *ngFor= "let comics of creator.comics.items">
                        <ul>
                            <li><a fxFlex mat-flat-buttons [routerLink]="['/detail-character', getID(comics.resourceURI)]">{{comics.name}}</a></li>
                        </ul>
                    </div>
                </div>
                <ng-template #noComics>
                    <h3>
                        No Comics
                    </h3>
                </ng-template>
            </div>
            <div fxLayout="column">
                <h2>SERIES</h2>
                <div fxLayout="column" *ngIf="creator.series.available!=0; else noSeries">
                    <div fxLayout="column" *ngIf="creator.series.name; else onlyOne">
                        <ul>
                            <li><a fxFlex mat-flat-buttons [routerLink]="['/detail-series', getID(creator.series.resourceURI)]">{{creator.series.name}}</a></li>
                        </ul>
                    </div>
                    <ng-template #onlyOne>
                        <div fxFlex="50" fxFlex.sm="100" *ngFor= "let series of creator.series.items">
                            <ul>
                                <li>{{series.name}}</li>
                            </ul>
                        </div>
                    </ng-template>
                </div>
                <ng-template #noSeries>
                    <h3>
                        No Series
                    </h3>
                </ng-template>
            </div>

        </div>

    </div>
</div>
